.login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login__form__cont {
  padding: 15px;
  border: 2px aliceblue solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__form__header {
  font-size: 24px;
  color: aliceblue;
  text-align: center;
}
.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__username__field,
.login__password__field {
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  width: 250px;
  color: aliceblue;
  border: 2px solid #aaa;
  background-color: transparent;
  border-radius: 10px;
  margin: 15px;
}
.login__submit_btn {
  all: initial;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  background-color: #7269de;
  border-radius: 10px;
  border: 2px solid transparent;
}
.login__username__field:focus,
.login__password__field:focus {
  border-color: aliceblue;
}
.login__submit_btn:hover {
  border: 2px solid white;
}
.login__signup__text {
  color: #22a;
}
.login__username__warning {
  margin-top: -15px;
  margin-left: 15px;
  color: red;
}
