.chat {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.chat__send__cont {
  position: absolute;
  bottom: 0;
  background-color: rgb(44, 44, 44);
  border-radius: 10px;
  display: flex;
  width: calc(100% - 40px);
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.chat__send__addbtn {
  padding-left: 20px;
  padding-right: 20px;
}
.chat__send__addicon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 30px;
  background-color: grey;
  color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  font-size: 20px;
}
.chat__send__addicon:hover {
  color: aliceblue;
}
.chat__send__input__cont {
  display: flex;
  flex: 1;
  align-items: center;
}
.chat__send__input__form {
  height: 50px;
  flex: 1;
  display: flex;
  align-items: center;
}
.chat__send__input__field {
  all: initial;
  flex: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
}
.chat__send__options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 24px;
}
.chat__send__option {
  color: grey;
  transition: all 0.15s linear;
  margin-right: 10px;
  cursor: pointer;
}
.chat__send__option:hover {
  color: aliceblue;
}
.chat__send__option__gif {
  font-size: 30px;
}
.messages__cont {
  overflow-y: scroll;
  height: calc(100% - 80px);
  padding-top: 50px;
  opacity: 0;
  animation: fadein 1s linear;
  animation-fill-mode: forwards;
}
.message__cont {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 5px;
  padding-left: 15px;
}
.message__datechange {
  position: absolute;
  top: -35%;
  font-size: 13px;
  width: 90%;
  text-align: center;
  color: yellow;
}
.message__datechange::after,
.message__datechange::before {
  content: "--------------------------";
}
.message__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.message__avatar__img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
.message__chat {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.message__header {
  display: flex;
  flex-direction: row;
  color: grey;
  align-items: center;
  font-size: 16px;
}
.message__timestamp {
  margin-left: 10px;
  font-size: 14px;
  color: #80808099;
  text-transform: capitalize;
}
.message__message {
  font-size: 14px;
}
.message__second__time {
  width: 40px;
  text-align: center;
  font-size: 12px;
  color: grey;
  opacity: 0;
  transition: all 0.2s linear;
}
.message__cont:hover {
  background-color: #2f3136;
}
.message__cont:hover .message__second__time {
  opacity: 1;
}

/* skeleton UI */
.chat__skeleton__cont {
  display: flex;
  flex-direction: column;
}
.skeleton__chat {
  display: flex;
  flex-direction: row;
  padding: 15px;
}
.skeleton__chat__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 15px;
  background-color: grey;
  animation: sk_avatar 1s linear infinite alternate;
}
@keyframes sk_avatar {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.skeleton__chat__right {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.skeleton__chat__user {
  width: 30%;
  height: 15px;
  background-color: grey;
  margin-bottom: 5px;
  animation: sk_user 0.6s linear infinite alternate;
}
@keyframes sk_user {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.skeleton__chat__message {
  width: 80%;
  height: 10px;
  background-color: grey;
  margin-bottom: 3px;
  background: linear-gradient(90deg, rgba(30, 30, 30, 1), rgba(30, 30, 30, 0));
  background-size: 400% 400%;
  animation: sk_messgae 1s linear infinite alternate;
}
@keyframes sk_messgae {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 200%;
  }
}
