.pinger {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  color: aliceblue;
}
.pinger__serverbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  background-color: #2f3136;
  border-right: 1px solid #a9a9a988;
  overflow-y: scroll;
  overflow-x: visible;
  scrollbar-width: none;
}
.pinger__channelbar {
  width: 250px;
  background-color: #2f3136;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  opacity: 0;
  animation: fadein 0.5s ease-out 1.5s;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pinger__chatbar {
  flex: 1;
  background-color: #36393f;
}
.pinger__usersbar {
  width: 250px;
  background-color: #2f312f;
}

/* Server Bar */
.serverbar__main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #fff9;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #111111;
  transition: all 0.3s linear;
  transform: translateY(-100%);
  animation: serverbarmain 0.4s ease;
  animation-fill-mode: forwards;
  z-index: 10;
}
@keyframes serverbarmain {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.serverbar__main__textCont {
  transition: all 0.3s linear;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #6262ed;
  color: white;
  border-radius: 60px;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.serverbar__main:hover {
  background-color: #6262ed;
}
.serverbar__main:hover .serverbar__main__textCont {
  background-color: #2f312f;
}
.serverbar__servers {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2f3136;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #fffa;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  transform: translateY(-120%);
  animation: serverbarmain 0.7s ease-in 1s;
  animation-fill-mode: forwards;
}
.serverbar__server {
  all: initial;
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 60px;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
  position: relative;
}
.serverbar__server:hover {
  transform: translateY(-5px);
}
.server__icon {
  width: 120%;
  height: 120%;
  border-radius: 120px;
}
.serverbar__addserver {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #11111199;
  margin-top: 2px;
  align-items: center;
  border-top: 2px solid #fffa;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  transform: translateY(120%);
  animation: slide-up 0.7s ease-in 1.5s;
  animation-fill-mode: forwards;
}
@keyframes slide-up {
  0% {
    transform: translateY(120%);
  }
  100% {
    transform: translateY(0);
  }
}
.serverbar__addicon {
  all: initial;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aaa;
  margin: 10px;
  transition: all 0.2s linear;
}
.serverbar__addicon:hover {
  background-color: #3f2a;
}

/* channel bar */
.channelbar__poster {
  width: 250px;
  height: 100px;
  /* background-color: red; */
  position: relative;
}
.channelbar__poster::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: 2;
}
.channels__serverName {
  position: relative;
  color: aliceblue;
  font-size: 24px;
  margin-top: -25px;
  padding-left: 15px;
  z-index: 10;
  border-bottom: 2px solid #1117;
}
.channels__textchannels {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.channels__voicechannels {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.channels__textchannels_toogler {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: grey;
  cursor: pointer;
}
.channels__textchannels_toogler:hover {
  color: aliceblue;
}
.channels__textchannels_tooglerTextCont {
  display: flex;
  flex-direction: row;
}
.channels__textchannels_tooglerTextIndicator {
  margin-right: 4px;
}
.channels__textchannels_tooglerText {
  font-weight: bold;
  color: lightgray;
}
.channels__textchannels_tooglerAdd {
  font-size: 24px;
  transition: all 0.3s linear;
}
.channels__textchannels_tooglerAdd:hover {
  font-size: 30px;
}
.textchannel__cont {
  display: flex;
  flex-direction: row;
  color: grey;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  height: 40px;
  cursor: pointer;
}
.textchannel__cont:hover {
  color: lightgray;
}
.textchannel__cont.active {
  color: aliceblue;
  font-weight: 600;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-right: 2px solid grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  transform: translateX(-120%);
  animation: right-in 0.3s ease;
  animation-fill-mode: forwards;
}
@keyframes right-in {
  0% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(0);
  }
}
.textchannel__icon {
  font-size: 20px;
  margin-right: 5px;
}
.textchannel__name {
  text-transform: capitalize;
  flex: 1;
}
.textchannel__addIcon {
  margin-right: 5px;
  display: flex;
  align-items: center;
  font-size: 20px;
  transition: all 0.3s linear;
}
.textchannel__settingsIcon {
  display: flex;
  align-items: center;
  font-size: 20px;
  transition: all 0.3s linear;
}
.textchannel__settingsIcon:hover,
.textchannel__addIcon:hover {
  font-size: 26px;
}
.textchannel__settingsIcon:hover {
  transform: rotate(-45deg);
}
