.pinger {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  color: aliceblue;
}
.pinger__serverbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  background-color: #2f3136;
  border-right: 1px solid #a9a9a988;
  overflow-y: scroll;
  overflow-x: visible;
  scrollbar-width: none;
}
.pinger__channelbar {
  position: relative;
  width: 250px;
  background-color: #2f3136;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  opacity: 0;
  animation: fadein 0.5s ease-out 1.5s;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pinger__chatbar {
  flex: 1;
  background-color: #36393f;
}
.pinger__usersbar {
  width: 250px;
  background-color: #2f312f;
  opacity: 0;
  animation: fadein 1s linear 3s;
  animation-fill-mode: forwards;
}

/* Server Bar */
.serverbar__main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #fff9;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #111111;
  transition: all 0.3s linear;
  transform: translateY(-100%);
  animation: serverbarmain 0.4s ease;
  animation-fill-mode: forwards;
  z-index: 10;
}
@keyframes serverbarmain {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.serverbar__main__textCont {
  transition: all 0.3s linear;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #6262ed;
  color: white;
  border-radius: 60px;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.serverbar__main:hover {
  background-color: #6262ed;
}
.serverbar__main:hover .serverbar__main__textCont {
  background-color: #2f312f;
}
.serverbar__servers {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2f3136;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #fffa;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  transform: translateY(-120%);
  animation: serverbarmain 0.7s ease-in 1s;
  animation-fill-mode: forwards;
}
.serverbar__server {
  all: initial;
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 60px;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
  position: relative;
}
.serverbar__server:last-child {
  margin-bottom: 15px;
}
.serverbar__server:hover .server__icon {
  /* transform: translateY(-5px); */
  border-radius: 20px;
}
.server__icon {
  width: 120%;
  height: 120%;
  transition: all 0.2s linear;
  border-radius: 30px;
}
.serverbar__addserver {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #11111199;
  margin-top: 2px;
  align-items: center;
  border-top: 2px solid #fffa;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  transform: translateY(120%);
  animation: slide-up 0.7s ease-in 1.5s;
  animation-fill-mode: forwards;
}
@keyframes slide-up {
  0% {
    transform: translateY(120%);
  }
  100% {
    transform: translateY(0);
  }
}
.serverbar__addicon {
  all: initial;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aaa;
  margin: 10px;
  transition: all 0.2s linear;
}
.serverbar__addicon:hover {
  background-color: #3f2a;
}
.serverbar__server__current {
  position: absolute;
  left: -15px;
  width: 8px;
  height: 100%;
  border-radius: 2px;
  background-color: white;
}

/* channel bar */
.channelbar__poster {
  width: 250px;
  height: 100px;
  /* background-color: red; */
  position: relative;
}
.channelbar__poster::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: 2;
}
.channels__serverName {
  position: relative;
  color: aliceblue;
  font-size: 24px;
  margin-top: -25px;
  padding-left: 15px;
  z-index: 10;
  border-bottom: 2px solid #1117;
}
.chanels__main {
  flex: 1;
}
.channels__textchannels {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  border-bottom: 2px solid grey;
  transform: translateY(-120%);
  animation: serverbarmain 0.5s linear 2s;
  animation-fill-mode: forwards;
}
.channels__voicechannels {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 10px;
  border-bottom: 2px solid grey;
  transform: translateY(-120%);
  opacity: 0;
  animation: specialofvoice 0.5s linear 2.2s;
  animation-fill-mode: forwards;
  margin-bottom: 70px;
}
@keyframes specialofvoice {
  0% {
    transform: translateY(-120%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.channels__textchannels_toogler {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: grey;
  cursor: pointer;
}
.channels__textchannels_toogler:hover {
  color: aliceblue;
}
.channels__textchannels_tooglerTextCont {
  display: flex;
  flex-direction: row;
}
.channels__textchannels_tooglerTextIndicator {
  margin-right: 4px;
}
.channels__textchannels_tooglerText {
  font-weight: bold;
  color: lightgray;
}
.channels__textchannels_tooglerAdd {
  font-size: 24px;
  transition: all 0.3s linear;
}
.channels__textchannels_tooglerAdd:hover {
  font-size: 30px;
}
.textchannel__cont {
  display: flex;
  flex-direction: row;
  color: grey;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  height: 40px;
  cursor: pointer;
}
.textchannel__cont:hover {
  color: lightgray;
}
.textchannel__cont.active {
  color: aliceblue;
  font-weight: 600;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-right: 2px solid grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  transform: translateX(-120%);
  animation: right-in 0.3s ease;
  animation-fill-mode: forwards;
}
@keyframes right-in {
  0% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(0);
  }
}
.textchannel__icon {
  font-size: 20px;
  margin-right: 5px;
}
.textchannel__name {
  text-transform: capitalize;
  flex: 1;
}
.textchannel__addIcon {
  display: none;
  margin-right: 5px;
  align-items: center;
  font-size: 20px;
  transition: all 0.3s linear;
}
.textchannel__settingsIcon {
  display: none;
  align-items: center;
  font-size: 20px;
  transition: all 0.3s linear;
}
.textchannel__cont.active .textchannel__addIcon,
.textchannel__cont.active .textchannel__settingsIcon {
  display: flex;
}
.textchannel__cont:hover .textchannel__addIcon,
.textchannel__cont:hover .textchannel__settingsIcon {
  display: flex;
}
.textchannel__settingsIcon:hover,
.textchannel__addIcon:hover {
  font-size: 26px;
}
.textchannel__settingsIcon:hover {
  transform: rotate(-45deg);
}
.textchannel__unread {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  transform: translateX(-30px);
  background-color: white;
}
.currentUser__cont {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  background-color: #222222;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: 2px solid grey;
}
.currentUser__avatar__cont {
  position: relative;
}
.currentUser__avatar__img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}
.currentUser__avatar__status {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 10px;
  height: 10px;
  border-radius: 7px;
  background-color: grey;
}
.currentUser__avatar__status.online {
  background-color: #2f2;
}
.currentUser__avatar__status.typing {
  background-color: blue;
}
.currentUser__userinfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 5px;
  overflow: hidden;
}
.currentUser__username {
  color: #dd1;
  font-size: 17px;
  font-weight: 700;
}
.currentUser__presence {
  font-size: 12px;
  max-lines: 1;
  max-height: 20px;
  color: grey;
}
.currentUser__options {
  display: flex;
  font-size: 20px;
  color: grey;
}
[class^="currentUser__option"] {
  margin-right: 5px;
  transition: all 0.2s linear;
}
.currentUser__option__mic:hover,
.currentUser__option__speaker:hover,
.currentUser__option__settings:hover {
  color: white;
}
.currentUser__option__settings:hover {
  transform: rotate(45deg);
}

/* Users Bar */
.userbar__onlineusers,
.userbar__offlineusers {
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-bottom: 0;
  border-radius: 20px;
  border-bottom: 2px solid grey;
}
.userbar__onlineuserText,
.userbar__offlineuserText {
  font-weight: bold;
  font-size: 16px;
}
.userbar__user {
  display: flex;
  flex-direction: row;
  margin: 5px;
  cursor: pointer;
}
.userbar__avatar__cont {
  width: 40px;
  height: 40px;
  position: relative;
}
.userbar__user__avatarimg {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}
.userbar__user__statusOnline,
.userbar__user__statusTyping,
.userbar__user__statusOffline {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  background-color: lightgray;
  border-radius: 100px;
}
.userbar__user__statusTyping {
  width: 20px;
}
.userbar__user__statusTyping::after,
.userbar__user__statusTyping::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 60px;
  background-color: grey;
  left: 55%;
  top: 20%;
}
.userbar__user__statusTyping::before {
  left: 10%;
}
.userbar__user__statusOnline {
  background-color: #2f2;
}
.userbar__user__userdetails {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.userbar__user__username {
  color: lightgreen;
  font-size: 18px;
}
.userbar__user__presence {
  color: grey;
  font-size: 16px;
  max-lines: 1;
  overflow: hidden;
  max-height: 25px;
}
.userbar__user__statusOffline {
  background-color: rgb(110, 110, 110);
}
.userbar__user__username.offline {
  color: lightgray;
}
.userbar__user:hover .userbar__user__presence {
  max-height: none;
}
